{% extends 'base.html' %}
{% load tags %}


    {% block content %}
    {% if messages %}
        {% for messages in messages %}
        <div class="alert alert-danger " role="alert">    
            <strong>{{ messages }}</strong>  {{ post.title }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluied">
    <div class="row">
    <div class  ="col-md-8">
    <h1> All Post By You </h1> 
    <!-- <h6>Posts{{ user.post_set.count }} </h6> -->

    {% for post in user.post_set.all %}
        <div class="card card-outline-primary"  >
          <div class="card-header " >
                <h5 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title|title }}</a></h5> 
                <p><b>Pub On :</b> {{post.published_date|date }} <b>By :</b> {{ post.author|title }} <b>Comments :</b> {{ post.comments.count }} <b>Views :</b> {{ post.views }} </p> 
          </div>
          <div class="card-block" >
              <p class="card-text" >{{ post.text|truncatewords:10}}<a href="{% url 'post_detail' pk=post.pk %}" >Read more</a></p>
            {% if user.is_authenticated and post.author == request.user %}
                <a class="card-link " href="{% url 'post_edit' pk=post.pk %}">Edit
                <a href="{% url 'del_blog' pk=post.pk %}" class="card-link">Delete</a>
            {% endif %}
              <a href="" class="card-link"><span class="glyphicon glyphicon-thumbs-up"></span></a></a>
          </div>
        </div>
        
    {% empty %}
      <strong>No posts found!</strong>
    {% endfor %}

    {% include 'includes/pagination.html' %}
    </div>
    </div>
    </div>
  {% endblock %}
