{% for comment in post.comments.all %}
	{% if comment.parent == None %}
	<div class="card card-outline-info comment" >
    	<div class="card-header date"> 
    	<strong class="card-title">{{ comment.author|title }}</strong> On {{ comment.created_date }} Replies: {{ comment.has_replies.count }}
    	</div>
    	<div class="card-block">
        	<div class="card-text" >
            	<p >{{ comment.text }}</p>
            	<button class="btn btn-primary btn-sm button-reply" type="button">reply	</button>
                <button class="btn btn-primary btn-sm button-view-replies" type="button">
            			Replies{{ comment.has_replies.count }}
            	</button>
            	<div >
                	<ul class="comment-replies" >
                		{% for replies in comment.has_replies %}
                			<li>By:{{ replies.author }} :- {{ replies.text }}</li>
                		{% empty %}
                			<li> No replies</li>
                		{% endfor %}
                	</ul>
            	</div>
            	<form method="POST" action="." class="form-inline form-replies" >{% csrf_token %} 
                    {% include 'includes/form_snippet.html' %}
                    <input type="hidden" name="parent_id" value='{{ comment.id }}'>
                    <button type="submit" class="save btn btn-success ml-2">Reply</button>
                </form>
        	</div>
    	</div>
	</div>
	{% endif %}
{% empty %}
	<p>No comments here yet :(</p>
{% endfor %}